<div class="form-container mat-elevation-z5" *ngIf="customer$ | async as customer; else cadForm">
    <form novalidate [formGroup]="form">
        <mat-form-field>
            <input matInput type="text" id="name" placeholder="Nome" formControlName="name" [(ngModel)]="customer.name">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="email" id="email" placeholder="E-mail" formControlName="email" [(ngModel)]="customer.email">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" id="age" placeholder="Idade" formControlName="age" [(ngModel)]="customer.age">
        </mat-form-field>
    
        <div class="center margin-top">
            <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Atualizar</button>
        </div>
    </form>
</div>

<ng-template #cadForm>
    <div class="form-container mat-elevation-z5">
        <form class="needs-validation" novalidate [formGroup]="form">
            <mat-form-field>
                <input matInput type="text" id="name" placeholder="Nome" formControlName="name">
            </mat-form-field>
        
            <mat-form-field>
                <input matInput type="email" id="email" placeholder="E-mail" formControlName="email">
            </mat-form-field>
    
            <mat-form-field>
                <input matInput type="number" id="age" placeholder="Idade" formControlName="age">
            </mat-form-field>
        
            <div class="center margin-top">
                <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Cadastrar</button>
            </div>
        </form>
    </div>
</ng-template>