<h1>Detalhes do cliente</h1>
<div class="mat-elevation-z5" style="padding: 20px;">
    <div *ngIf="customer$ | async as customer; else loadingError">
        <p><b>ID:</b> {{customer.id}}</p>
        <p><b>Nome:</b> {{customer.name}}</p>
        <p><b>E-mail:</b> {{customer.email}}</p>
        <p><b>Idade:</b> {{customer.age}}</p>
    </div>

    <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading">
            Erro ao carregar Cliente. Tente novamente mais tarde.
        </div>
        <ng-template #loading>
            <span>Carregando Cliente...</span>
        </ng-template>
    </ng-template>
</div>
