<div class="top-list">
    <h1>Lista de clientes</h1>
    <button mat-raised-button color="primary" style="margin-bottom: 10px;" routerLink="create">
        Adicionar Cliente
    </button>
</div>
<div class="mat-elevation-z5 container-table">
    <table class="table-data" *ngIf="customers$ | async as customers; else loadingError">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Idade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.age}}</td>
                <td>
                    <span class="float-right">
                        <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="detalhesCustomer(customer.id)">Detalhes</button>
                        <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="editarCustomer(customer.id)">Atualizar</button>
                        <button mat-raised-button color="warn" (click)="removerCustomer(customer)">Remover</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading">
            Erro ao carregar Clientes. Tente novamente mais tarde.
        </div>
        <ng-template #loading>
            <span>Carregando Clientes...</span>
        </ng-template>
    </ng-template>
</div>